# Node backend
node_modules/
.env
.env.*
npm-debug.log*

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Web build
build/web/
build/flutter_assets/
build/native_hooks/

# Generated platform files
linux/flutter/
macos/Flutter/Generated*
windows/flutter/

velorex_admin_backend/linux/flutter/
velorex_admin_backend/macos/Flutter/Generated*
velorex_admin_backend/windows/flutter/

# Android
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
